*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}

.container {
    background-color: rgb(216, 226, 201);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    
}

.container1 {
    background-color: rgb(247, 248 ,234);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 45vh;
    width: 90vw;
    border-radius: 15px 15px 0px 0px ;
    box-sizing: border-box;
}


.logo {
    align-items: center;
    width: 70px;
    height: 40px;
}

.upper {
    justify-content: space-between;
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px ;
    
}

.nav-center {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
.nav-center a {
    color: rgb(137, 134, 117);
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    transition: 0.4s;
  }

.nav-center a:hover {
    color: rgb(105, 103, 88);
    text-decoration: underline;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right a {
    color: rgb(137, 134, 117);
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    transition: 0.4s;
}

.nav-right a:hover {
    color: rgb(105, 103, 88);
    text-decoration: underline;
}

.topo::before {
    content: '';
    display: flex;
    margin: 10px 0;
    height: 3px;
    background-color: rgb(237, 232, 212);

}

.topo {
    margin-top: 10px ;

}

.topo a {
    font-size: 50px;
    text-decoration: none;
    color: rgb(52, 48, 19);
}

.topo1 {
    
}

.container1 .lower {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: rgb(237, 232, 212);;
    height: 20vh;
    border-radius: 20px 20px 20px 20px ;

}

.woman {
    border-radius: 15px 0px 0px 15px ;
    height: 20vh;
}

.text {
    color: rgb(52, 48, 19);
    margin-left: 30px;
    margin-right: 50px;
}

.container2{
    background-color: rgb(246, 241 ,209);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 90vw;
    border-radius: 0px 0px 15px 15px;
    box-sizing: border-box;
}


